<div class="container">
    <div class="sheetSlider sh--default">
        <input id="s1" type="radio" name="slide1" checked />
        <input id="s2" type="radio" name="slide1" />
        <input id="s3" type="radio" name="slide1" />
        <input id="s4" type="radio" name="slide1" />

        <div class="sh__content">
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/Img01.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Nivel 1</h4>
                    <span>
                        <a href="">Conceptos iniciales de fotografía</a>
                    </span>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/Img02.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Nivel 2</h4>
                    <span>
                        <a href="">Técnicas de fotografía</a>
                    </span>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/Img03.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Nivel 3</h4>
                    <span>
                        <a href="">Fotografía de estudio con luz continua</a>
                    </span>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/Img04.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Nivel 4</h4>
                    <span>
                        <a href="">Domina el uso del flash y la fotografía de producto</a>
                    </span>
                </div>
            </div>
        </div>
        <!--botones-->
        <div class="sh__btns">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
        </div>
        <!--flechas-->
        <div class="sh__arrows">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
        </div><!-- .sh__arrows -->

    </div>
</div>
